* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

window#waybar {
	background-color: transparent;
}

label:focus {
	background-color: #000000;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 0px #ffffff;
}

#memory {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-right: 0;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	margin-left: 15px;
	padding: 0px 8px;
}

#cpu {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-left: 0;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 8px;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}

#bluetooth {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 8px;
}

#bluetooth.connected {
	border-color: #2ecc71;
}

#bluetooth.disabled {
	border-color: #f53c3c;
}

#bluetooth.no-controller {
	border-color: #f53c3c;
}

#custom-domain {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 8px;
}

#custom-domain.down {
	border-color: #f53c3c;
}

#workspaces {
	border: solid 2px #33ccff;
	border-radius: 12px;
	margin: 6px;
}

#workspaces button {
	background-color: transparent;
	border-radius: 8px;
	color: #ffffff;
	padding: 0 2px;
	margin: 5px;
}

#workspaces button.active {
	background-color: transparent;
	border: 3px solid #00ff99;
	padding: 0px 8px;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#wireplumber {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 10px;
}

#wireplumber.muted {
	border-color: #f53c3c;
}

#network {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 10px;
}

#network.disconnected {
	border-color: #f53c3c;
}

#power-profiles-daemon {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 10px;
}

#power-profiles-daemon.performance {
	border-color: #f53c3c;
}

#power-profiles-daemon.balanced {
	border-color: #33ccff;
}

#power-profiles-daemon.power-saver {
	border-color: #2ecc71;
}

#battery {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	padding: 0px 10px;
}

#battery.charging, #battery.plugged {
	border-color: #2ecc71;
}

#battery.critical:not(.charging) {
	border-color: #f53c3c;
	border-width: 4px;
}

#clock {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	margin-right: 15px;
	padding: 0px 10px;
}

#tray {
	background-color: transparent;
	border: 2px solid #33ccff;
	border-radius: 12px;
	color: #ffffff;
	margin: 8px 0px;
	margin-right: 15px;
	padding: 0px 10px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	border-color: #eb4d4b;
}
