[Unit]
Description=Change battery charge thresholds to 40 and 60
Documentation=https://github.com/PeterSaan/dotfiles
ConditionEnvironment=BATTERIES

[Service]
User=root
Group=root
Type=exec
ExecStart=/usr/bin/echo 40 | /usr/bin/tee /sys/class/power_supply/BAT*/charge_start_threshold && /usr/bin/echo 60 | /usr/bin/tee /sys/class/power_supply/BAT*/charge_end_threshold
ExecStop=/usr/bin/echo 0 | /usr/bin/tee /sys/class/power_supply/BAT*/charge_start_threshold && /usr/bin/echo 100 | /usr/bin/tee /sys/class/power_supply/BAT*/charge_end_threshold
